<h1>New QRToken</h1>

<%= form_for :qrtoken, url: qrtokens_path do |f| %>
  <p>
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>
<%= link_to 'Home', controller: 'welcome' %>

