<div class='row'>
  <div class='col-sm-2'>
    <% size = '100x100' %>
    <% if token.user.image_url %>
      <%= image_tag(token.user.image_url, size: size, :alt => "profile image") %><br>
    <% else %>
      <%= image_tag("/images/blank_profile.png", size: size, :alt => "login with Facebook to get an image") %><br>
    <% end %>
  </div>
  <div class='col-sm-3'>
    <strong>
      <br>
      <%= token.user.first_name %>
      <%= token.user.last_name %>
      <br>
      <%= token.user.email %>
    </strong>
    <br>
    <%= link_to 'ShareThisToken', scannedtokens_share_path(:id => current_user.id),method: :get, data: {confirm: 'Are you sure?'} %>
  </div>
</div>
<hr/>
