<div class="text-center">
  <h1>Home</h1>
  <br>
    <%= form_for :user, url: users_search_path, html: {class: "form-inline"}  do |f| %>
      <div class="field form-group">
        <%= f.text_field :name, class: "form-control col-xs-2" %>
        <%= f.submit 'Search', :class => "btn btn-default"%>
      </div>
    <% end %>
  <br>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.<br>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
    <%= link_to "my Profile", users_myprofile_path  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path  %>

    <br>
    <%= link_to user_facebook_omniauth_authorize_path do%>
      <div class="btn btn-facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
      </div>
    <% end %>
  <% end %>
</div>
