<h1>Home</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.<br>
  <%= link_to "My Profile", users_myprofile_path  %> &nbsp; | &nbsp;
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path  %>

  <br>
  <%= link_to user_facebook_omniauth_authorize_path do%>
    <div class="btn btn-facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
    </div>
  <% end %>
<% end %>
