<div class="text-center">
  <h1>Home</h1>
  <br>
    <%= form_tag({action: 'search', :controller=>"users"}, {method: 'get', class: "form-inline"} ) do |f| %>
      <div class="field form-group">
        <%= text_field :query, '', class: "form-control col-xs-1" %>
        <%= submit_tag 'Search', :class => "btn btn-default"%>
      </div>
    <% end %>
  <br>
  <div class="row">
    <div class="col-xs-6 text-right">
      <%= button_to users_select_path, method: :get , :class => 'btn btn-lg btn-success' do %>
      <span class="fa fa-plus"></span> Create Token
    <% end %>
    </div>
    <div class="col-xs-6 text-left">
      <%= button_to scan_path, method: :get , :class => 'btn btn-lg btn-primary' do%>
        <span class="fa fa-camera-retro"></span> Scan Token
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 text-right">
      <%= button_to "Scanned Tokens", scannedtokens_scanned_path, method: :get , :class => 'btn btn-primary'%>
    </div>
    <div class="col-xs-6 text-left">
      <%= button_to "Who Scanned Me", scannedtokens_whoscannedme_path, method: :get , :class => 'btn btn-primary'%>
    </div>
  </div>
  <br>
  <div class="row">
	<div class="col-xs-6 text-right">
      <%= button_to "My Tokens", tokens_mytokens_path, method: :get , :class => 'btn btn-primary'%>
    </div>
    <div class="col-xs-6 text-left">
      <%= button_to "Blocked Users", blockedusers_show_path, method: :get , :class => 'btn btn-primary'%>
    </div>
  </div>
  <br><br>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.<br>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
    <%= link_to "my Profile", users_myprofile_path  %>
    <% if current_user.admin? %>
      | <%= link_to "Admin Dashboard", rails_admin_path  %>
    <% end %>
  <% end %>
</div>
