
<div class"row">
  <div class="col-lg-3">
    <% if @user.image_url %>
      <%= image_tag(@user.image_url, :alt => "profile image") %><br>
    <% else %>
      <%= image_tag("/images/blank_profile.png", :alt => "login with Facebook to get an image") %><br>
    <% end %>
  </div>
  <div class="col-lg-3">
    <br>
    <strong>First Name:</strong> <%= @user.first_name %><br>
    <strong>Last Name: </strong><%= @user.last_name %><br>
    <strong>Email: </strong><%= @user.email %><br><br>
    <% if @token %>
      <% @token.info.split(' ').each do |field| %>
        <strong><%=@info[field.to_i].to_s.humanize%></strong>: <%= @user.send(@info[field.to_i]) %><br>
      <% end %>
      <br><br>
      <%= link_to users_show_path t: @token.token_hash, format: :pdf do %>
        Save as PDF <span class="fa fa-file-pdf-o"></span>
      <% end %>
      &ensp; | &ensp;
    <% else %>      
    <% end %>    
    <%= link_to 'Home', root_path%>
  </div>
  <div class="col-lg-3">
	<% if @user.id != current_user.id %>
	<br>
	<%= button_to "Block this user", user_blockeduser_path(@user.id,@user.id), method: :put , :class => 'btn btn-danger'%>
	<br>
	<%end%>
  </div>
</div>

