<h1 align=center>InfoXchanger</h1>
<hr><br>
<div class"row">
	<button data-target="#description" class="btn btn-default col-lg-4 col-lg-offset-4" data-toggle="collapse">
		<span class="fa fa-info"></span> What is InfoXchanger?
	</button>
</div>
<div class"row">
	<div id="description" class="text-center col-lg-4 col-lg-offset-4 collapse">
		<br>
		<p>InfoXchanger is a totally new way to share personal details easily and quickly.
		By registering yourself to this website, you can create your own profile and
		update it whenever you want with new information about yourself. The main purpose
		of the application is to allow all the registered users to select a subset of
		their personal details, to create a QRCode that contains them and to share it
		with other users. By this way, you can comunicate what you want instanly and
		without papers, pens or notes. </p>
		<p>You can see all the QRCodes you have ever generate and share them again, if
		you need it; you can have access to the QRCodes you have scanned and there's
		the chance to save information of other users you have locally, into you own PC;
		you can also track all the users that scan your QRCodes and you can block the
		access to your information to them. </p>
		<p>If you think you won't need anymore a QRCode you have generated, you can dismiss
		it and nobody will be more able to scan it; at last, if you think you won't need
		anymore the services offered by this application, you can cancel your profile and
		all the QRCodes you have created.</p>
	</div>
</div>
<div class"row">
	<div class="text-center col-lg-2 col-lg-offset-5">
		<h2 align = center>Log in</h2>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field form-group">
			  <%= f.label :email%><br />
			  <%= f.email_field :email, autofocus: true, class: 'form-control'%>
			</div>

			<div class="field form-group ">
			  <%= f.label :password %><br />
			  <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
			</div>
			<div class = 'text-center'>
			<% if devise_mapping.rememberable? -%>
			  <div class="field checkbox">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
			  </div>
			<% end -%>

			<%= f.submit "Log in", class: "btn btn-default btn-primary actions"  %>
			<% end %>
			<br><br>
			<%= render "users/shared/links" %>
			<br>
			<%= link_to user_facebook_omniauth_authorize_path do%>
			<div class="btn btn-social btn-facebook">
				<span class="fa fa-facebook"></span> Sign in with Facebook
			</div>
			<% end %>
			<br>
			<br>
			<%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-google" do %>
			<span class="fa fa-google"></span> Sign in with Google
			<% end %>
			<br><br>
			</div>
</div>
