<div class='row'>
  <div class='col-sm-2'>
    <% size = '100x100' %>
    <% if user.image_url %>
      <%= image_tag(user.image_url, size: size, :alt => "profile image") %><br>
    <% else %>
      <%= image_tag("/images/blank_profile.png", size: size, :alt => "login with Facebook to get an image") %><br>
    <% end %>
  </div>
  <div class='col-sm-3'>
    <strong>
      <br>
      <%= user.first_name %>
      <%= user.last_name %>
      <br>
      <%= user.email %>
    </strong>
    <br>
    <%= link_to 'Show', users_show_path(:id => user.id) %> &ensp;|&ensp;
    <%= link_to 'ShareWithHim', scannedtokens_share_path(:id => user.id), method: :get %>


  </div>
</div>
<hr/>
