<!DOCTYPE html>
<html>
  <head>
    <title>InfoXchanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand" do %>
            Info<span class="fa fa-xing"></span>changer
          <% end %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <% if user_signed_in? %>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><%= link_to 'My Tokens', tokens_mytokens_path%></li>
              <li><%= link_to 'Scanned Tokens', scannedtokens_scanned_path%></li>
              <li><%= link_to 'Who Scanned Me', scannedtokens_whoscannedme_path%></li>
              <li><%= link_to inforequests_show_path do%> Info Requests
                  <%if current_user.asked.exists?%>
                    <span class="badge"><%=current_user.asked.length-%></span>
                  <% end %>
                <% end %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to users_myprofile_path  do%>
                  <span class="fa fa-user"></span> My Profile <%end%></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="fa fa-sign-out"></span> Logout <%end%></li>
              <% if current_user.admin? %>
                <li><%= link_to rails_admin_path  do%>
                  Admin Dashboard
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to new_session_path(:user) do %>
                  <span class="fa fa-sign-in"></span> Sign In <%end%></li>
              <li><%= link_to new_registration_path(:user) do %>
                  <span class="fa fa-user-plus"></span> Register <%end%></li>
            </ul>
          </div>
        <% end %>
      </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </nav>
    <div class="container-fluid">
        <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <br><p class="text-muted text-center"><span class="fa fa-copyright"></span>2017 infoXchanger <span class="fa fa-xing-square"></span>  ALL RIGHTS RESERVED.</p>
      </div>
    </footer>
  </body>
</html>
